header{
  background:#bbbbbb
  padding:20px 0;
}
.caixa{
  positin:relative;
  width:940px;
  margim: 0 auto;
}
nav{
  position: absolut;
  top:110px;
  ringht:0;
}
nav li{
  display:inline;
  margim:00015px;
}
nav a{
  text-transform:uppercase;
  color:#000000;
  font-weizht:bold;
  font-size: 22px;
  tex-decoration:nome;
}
